html {
  background-color: #222222;
  background: url('../image/bg.gif') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
body {
  color: #ffffff;
  font-family: Verdana;
  font-size: 14px;
  background-color : transparent;
}
a {
  color: #ffffff;
  text-decoration: none;
  background-color : transparent;
}
table, th, td {
  border: 1px invisible;
  padding: 10px;
  border-collapse: collapse;
}
